@import "tailwindcss";
@font-face {
  font-family: "LINESeedSansTH";
  src: url("../public/font/LINESeedSansTH_W_Rg.woff2");
}
:root {
  --background: #ffffff;
  --foreground: #171717;
  cursor: default;
  user-select: none;
  font-family: "LINESeedSansTH", serif;
}

body {
  font-family: "LINESeedSansTH", serif;
  color: var(--background);
  background-size: 40px 40px;
  background-image: radial-gradient(circle, #2c2c2c 2px, #272727 2px);
  background-attachment: fixed;
  
}
h1 {
  font-family: "LINESeedSansTH", serif;
}
p {
  font-family: "LINESeedSansTH", serif;
}
a:hover {
  color: #ff3939;
}
